body {
    background: #333;
    color: #fff;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: 0; /* keep this */
}

h1 {
  float: left;
  margin: 0;
  padding: 10px;
}

h2 {
  text-align: left;
  font-size: 250%;
  margin: 20px;
}

#cougar {
  background: #FFD5AE;
  color: #000;
  clear: both;
  overflow: auto;
  width: 100%;
}

#lion {
  background: #FFBD82;
  color: #000;
  overflow: auto;
  width: 100%;
}

#tiger {
  background: #B26219;
  color: #000;
  overflow: auto;
  width: 100%;
}

article {
  width: 600px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  float: right;
}

footer {
  text-align: center;
  padding: 10px 100px 10px 100px;
}

header {
  width: 85%;
  font-size:120%;
  padding: 0px 0px 10px 50px;
  margin: 0;
}

div {
  float: left;
  padding: 0px 0px 0px 30px;
}



/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue

   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- links and nav --- */

nav {
  float: right;
  }

nav ul {
  list-style: none;
  margin: 0px;
}

nav li {
  float: left;
  margin-left: 10px;
  padding: 30px;
}

a { color: #379CB2; }
a:hover { color: #82E8FF; }
